#my-div {
  display: flex;
  justify-content: center;
  /*color: red;*/
  padding: 10px;
  margin: 5px;
  background-color: black;
}

div {
  background: green;
}

.tile.flag {
  color: red;
}

.tile {
  color: green;
}

.flag {
  color: purple;
}

.flag.tile {
  color: yellow;
}
